body{
  background: url(https://photy.org/photos/background-11.jpg);
  background-size:100%;
  background-attachment:fixed;
  //background-color:grey;
}

.sticky{
  position:sticky;
  top:2px;
}
 @font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v9/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEViw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
header:after, .container:after {
content: "";
display: table;
clear: both;
} 
p:first-line{
  color:red;
}
p:first-letter{
  font-size:20px;
}
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
padding: 10px 15px;
} 
header {
width: 100%;
background: white;
  box-shadow: 0px 3px 7px #122189;
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}
nav {
width: 100%;

}
img{
  margin:10px auto;
  max-width:80%;
  max-height:400px;
}
a:link {
    color: blue;
   }
a:visited {
    color: orange; 
   }
a:active {
    color: violet;  
   } 
a:hover {
    color: red; 
   } 

.name {
display: block; 
float: left;
  margin:20px auto;
}
.name span {
color: black;
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 10%;
margin: 5px 0;
text-align: center;
text-shadow: 2px 3px 1px #ffffff;
}
.name span:nth-child(odd) {
background: #dfa213;
}
.name span:nth-child(even) {
background: #e536a7;
}

#menu {
float: left;
}
#menu li {
display: inline-block;
margin-right: 30px;
}
#menu a {
color: #1111ee;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
display: block;
line-height: 40px;
}
#menu a:hover {
color: red;
}
#menu li:last-child  {
margin-right: 0;
}

article{
  margin-top:10px;
  background:#11119922;
  padding:10px;
    box-shadow:2px 3px 4px #11119944;

}

ol,ul{
  margin-left:20px;
}
cite:before,blockquote:before,cite:after,blockquote:after{
  content:'"';
}

.q1{
  font-family: serif; 
  font-size:14pt; 
  font-weight:bold;
}
.q2{
  font-family: sans-serif; 
  font-size:12pt;  
}
.q3{
  font-family: fantasy; 
  font-size:12pt;  
}
h1{
  font-family: 'Dansing Script';
}
article:hover,p:hover,h1:hover,h2:hover{
  background-color:#1cdc2315;
}
.in{
   font-family: JournalRegular;
}
body{
  font-family:JournalRegular;
}

#menu.active {
max-height: 123px;
}
